body { font-size: 12px; font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; line-height: 18px; }

/* cool hack to force the scrollbar to appear in firefox - DN */
html { min-height: 100%; margin-bottom: 1px;
  background-color: #d0d0e0;
}

#content {
  background-color: #d8e4fc;
  margin: 30px;
  padding: 20px;
}

p { }

td { }

a:link { color: #1f4fb4; text-decoration: none; }

a:visited { color: #1f4fb4;  text-decoration: none; }

a:hover { color: #1f4fb4;  text-decoration: underline; }

a:active { }

.datatable table {
	width: 100%;
	height: 100%;
	font-size: 95%;
 	clear: both;
	border-collapse: collapse;
}


.datatable table * th,
.datatable table * td {
  padding: .5em .75em;
  text-align: left;
}
.datatable table * th {
  border-bottom: 1px solid #bbb;
  background: #e5e5e5;
  white-space: nowrap;
  width: 25%;
}
.datatable table * th.text {
  width: 50%;
  text-align: left;
}
.datatable table * td {
  border-top: 1px solid #bbb;
  background: #f9f9f9;
}
.datatable table * td.text {
  text-align: left;
}
.datatable table .highlight td {
  background: #fff;
}
.datatable p {
  border-top: 1px solid #bbb;
  padding: .75em;
}
.datatable table .nodata {
  text-align: center;
  height: 75%;
}


.sortcol {
        cursor: pointer;
        xpadding-right: 20px !important;
        background-repeat: no-repeat !important;
        background-position: right center !important;
}
.sortasc {
        background-color: #DDFFAC;
        background-image: url(../images/up.gif) !important;
}
.sortdesc {
        background-color: #B9DDFF;
        background-image: url(../images/down.gif) !important;
}
.nosort {
        cursor: default;
}

