<h3>Grade: <%= grade == 0 ? 'kindergarten' : grade %></h3>

<div class="datatable">
<table id="table<%= grade %>"style="width:300px;" class="sortable">
  <tbody>
   <tr>
    <th class="number">APP CODE</th>
    <th class="sortfirstasc number">POSITION</th>
<!--
    <th>TYPE</th>
    <th>STATUS</th>
    <th>NAME</th>
-->
   </tr>

<% for app in apps %>
  <tr>
    <td><%= app.code %></td>
    <td><%= app.wait_list_position %></td>
<!--
    <td><% app.txt_type %></td>
    <td><% app.txt_status %></td>
    <td><% app.first_name + " " + app.last_name %></td>
-->
  </tr>
<% end %>
  </tbody>
</table>

</div>


